body {
  background: rgb(219, 214, 214);}
.App {
  width: 30%;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
.email {
  margin-left: 20px;
}
.card {
  border-radius: 5px;
  border: 2px solid gray;
  text-align: center;
  padding: 6%;
  margin-bottom: 15px;
}
.buttons1 button {
  padding: 3%;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}
