body {
  margin: 2%;
  background: gray;
}
.gender {
  width: 125px;
}
.photo {
  width: 100px;
}
.data {
  border: 1px solid paleturquoise;
  border-radius: 9px;
  margin-bottom: 20px;
  padding: 13px;
  width: max-content;
}
.inputs input {
  text-decoration: none;
  border-radius: 3px;
  padding-left: 6px;
}
.button1 {
  margin-left: 20px;
  margin-top: -30px;
  border-radius: 8px;
}